<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home-page</title>
</head>
<body>
    

    <header>
        <h1>This is a server test</h1>
    </header>

    <nav>

        <a href="https//localhost:3000/register">Register</a>

    </nav>


    <main>


        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptates, sapiente tempora dolore accusantium laborum. Illum reiciendis officia in explicabo eligendi laudantium. Nihil in, beatae numquam unde cumque aut velit.</P>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo voluptatum deserunt error quis saepe cum dicta est vel facere? Blanditiis ipsam tempora nobis sunt, quasi libero soluta debitis veniam iste!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum est doloribus placeat beatae unde molestias ex obcaecati dicta magni autem illo alias eveniet ullam perferendis nobis, vitae iusto dolore nemo.</p>


    </main>

</body>
</html>