body {
  margin: 0;
}

nav h1 {
  margin: 0px;
  font-family: sans-serif;
  font-size: 100%;
}

nav h3 {
  margin: 0px;
  font-family: sans-serif;
  font-size: 100%;
}

nav ul {
  margin-top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
      grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-gap: 1px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
      grid-template-areas: 'A B C H H H H D E F ';
}

nav #logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: A;
}

nav #browse {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: B;
}

nav #more {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: C;
}

nav #Join {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
  grid-area: D;
}

nav #Login {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  grid-area: E;
}

nav #Submit {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
  grid-area: F;
}

nav #searchbar {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-area: H;
}

nav a {
  width: 100%;
}

nav ul img {
  margin-left: 20%;
  width: 60%;
  -webkit-filter: invert(100%) grayscale(100%);
          filter: invert(100%) grayscale(100%);
}

nav li {
  float: left;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}

nav li a, nav .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover, nav .dropdown:hover .dropbtn {
  background-color: #1e5feb;
}

nav li.dropdown {
  display: inline-block;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  color: #f9f9f9;
  min-width: 100px;
  width: 11%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

nav .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

nav .dropdown-content a:hover {
  color: #1e5feb;
  background-color: #f1f1f1;
  width: 85%;
}

nav .dropdown:hover .dropdown-content {
  display: block;
}

#DropIcon {
  display: none;
  grid-area: G;
}

/*search bar*/
.container {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 46px;
}

.container input {
  font-family: 'Inconsolata', monospace;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: white;
  color: black;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.container input:hover {
  cursor: pointer;
}

.container input:focus {
  width: 90%;
  opacity: 1;
  cursor: text;
}

.container input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}

.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}

.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.container input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.container input:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.container input::-ms-input-placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.container input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

@media (max-width: 400px) {
  nav ul {
    height: 60px;
        grid-template-areas: 'G . H H H . . A A A ';
  }
  #browse, #More, #Join, #Login, #Submit {
    display: none;
  }
  #DropIcon {
    display: inline-block;
  }
  #DropIcon .dropdown-content {
    width: 400px;
    background-color: black;
  }
  #DropIcon .dropdown-content a {
    color: white;
  }
  #DropIcon .dropdown-content a:hover {
    color: white;
    background-color: #1e5feb;
    width: 100%;
  }
  #DropIcon img {
    width: 100%;
  }
  #DropIcon a {
    margin: 0;
    width: 77%;
  }
}
/*# sourceMappingURL=Header_style.css.map */