* {
    box-sizing: border-box
}

/* styling the main title */
#h1-title {
    margin-top: 3%;
    font-size: 30px;
    text-align: center;


}

#h2-title {

    margin-top: 3%;
    font-size: 30px;
    text-align: center;

}

header {

    margin-top: 3.5%;
    font-size: 30px;
    text-align: center;
}



/* styling and positioning the info element of the header (navigation bar) */
#info {

    margin-right: 2%;
    background-color: brown;
    color: white;
    padding: 10px 20px;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline;
    border-radius: 7px;

}

/* changing the color of the element when the user hovers the mouse on top of it */
#info:hover {

    background-color: rgb(139, 107, 107);
    color: black;
}



/* styling and positioning the gallery element of the header (navigation bar) */
#gallery {

    margin-right: 2%;
    background-color: brown;
    color: white;
    padding: 10px 20px;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline;
    border-radius: 7px;
}

/* changing the color of the element when the user hovers the mouse on top of it */
#gallery:hover {
    background-color: rgb(139, 107, 107);
    color: black;
}

/* styling and positioning the lifestyle element of the header (navigation bar) */
#lifestyle {

    margin-right: 2%;
    background-color: brown;
    color: white;
    padding: 10px 20px;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline;
    border-radius: 7px;


}

/* changing the color of the element when the user hovers the mouse on top of it */
#lifestyle:hover {
    background-color: rgb(139, 107, 107);
    color: black;

}

/* styling and positioning the culture element of the header (navigation bar) */
#culture {

    margin-right: 2%;
    background-color: brown;
    color: white;
    padding: 10px 20px;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline;
    border-radius: 7px;

}


/* changing the color of the element when the user hovers the mouse on top of it */
#culture:hover {

    background-color: rgb(139, 107, 107);
    color: black;
}

/* styling and positioning the contact element of the header (navigation bar) */
#contact {


    background-color: rgb(139, 107, 107);
    color: black;
    padding: 10px 20px;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline;
    border-radius: 7px;

}

/* changing the color of the element when the user hovers the mouse on top of it */
#contact:hover {

    background-color: rgb(139, 107, 107);
    color: black;
}

/* setting a background image with radient to change the opacity of the background without changing the text opacity */
body {
    background-image: url('/Web410/City-Website/main/body-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* hides the scrollbar */
::-webkit-scrollbar {
    display: none;
}


main {

    font-size: 30px;
    margin-top: 7%;
    margin-left: 34%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

#message {
    height: 200px;
    width: 50%;
    font-size: 24px;
    resize: none;

}



/* half-screen width input fields */
input[type=text] {
    font-size: 24px;
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ffffff;
}

/* styling the text elements when focused on them */
input[type=text]:focus:focus {
    background-color: rgb(255, 255, 255);
    outline: none;
}



/* Set a style for the submit/register button */
#submit-btn {
    background-color: brown;
    text-align: center;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    padding: 16px 20px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    width: 50%;

}

/* changing the color of the element when the user hovers the mouse on top of it */
#submit-btn:hover {
    background-color: rgb(139, 107, 107);
    color: black;
}