* {
    box-sizing: border-box;
}

/* styling the main title */
#h1-title {
    margin-top: 3%;
    font-size: 30px;
    text-align: center;


}

/* styling the sub-title of the page */
#h2-title {

    margin-top: 3%;
    font-size: 30px;
    text-align: center;

}

/* positioning the header (navigation bar) */
header {

    margin-top: 3.5%;
    font-size: 30px;
    text-align: center;
}

/* styling and positioning the info element of the header (navigation bar) */
#info {

    margin-right: 2%;
    background-color: brown;
    color: white;
    padding: 10px 20px;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline;
    border-radius: 7px;

}

/* changing the color of the element when the user hovers the mouse on top of it */
#info:hover {

    background-color: rgb(139, 107, 107);
    color: black;
}



/* styling and positioning the gallery element of the header (navigation bar) */
#gallery {

    margin-right: 2%;
    background-color: brown;
    color: white;
    padding: 10px 20px;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline;
    border-radius: 7px;
}

/* changing the color of the element when the user hovers the mouse on top of it */
#gallery:hover {
    background-color: rgb(139, 107, 107);
    color: black;
}

/* styling and positioning the lifestyle element of the header (navigation bar) */
#lifestyle {

    margin-right: 2%;
    background-color: rgb(139, 107, 107);
    color: black;
    padding: 10px 20px;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline;
    border-radius: 7px;


}

/* changing the color of the element when the user hovers the mouse on top of it */
#lifestyle:hover {
    background-color: rgb(139, 107, 107);
    color: black;

}

/* styling and positioning the culture element of the header (navigation bar) */
#culture {

    margin-right: 2%;
    background-color: brown;
    color: white;
    padding: 10px 20px;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline;
    border-radius: 7px;

}


/* changing the color of the element when the user hovers the mouse on top of it */
#culture:hover {

    background-color: rgb(139, 107, 107);
    color: black;
}

/* styling and positioning the contact element of the header (navigation bar) */
#contact {


    background-color: brown;
    color: white;
    padding: 10px 20px;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline;
    border-radius: 7px;

}

/* changing the color of the element when the user hovers the mouse on top of it */
#contact:hover {

    background-color: rgb(139, 107, 107);
    color: black;
}

main {


    background-color: rgba(255, 255, 255, 0.7);
    word-wrap: break-word;
    font-size: 400px;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 10%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    padding: 10px;


}

#Centre-dubai {

    display: inline-block;
    text-align: top;

}

#shop-dubai {

    display: inline-block;
    text-align: top;

}

#beach-club-dubai {


    display: inline-block;
    text-align: top;

}

#busy-dubai {

    display: inline-block;


}





main {

    overflow: auto;
    border: solid black 1px;
    height: 600px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.75);
    word-wrap: break-word;
    font-size: 24px;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 10%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    padding: 10px;

}

body {
    background-image: url("body-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

::-webkit-scrollbar {
    display: none;
}

footer {

    font-size: 30px;
    text-align: center;
    margin-top: 5%;


}