$ul-bg: black;
$li-a-dropbtn: white;
$li-a-hover-bg: rgb(30, 95, 235);
$dropdown-content-bg: #f9f9f9;
$dropdown-content-a: rgb(255, 255, 255);
$dropdown-cover-a-hover-bg:#f1f1f1;
$dropdown-content-a-hover:rgb(30, 95, 235);
$dropdown-content-a-hover-bg: #f1f1f1;
$dropicon-font-color: white;
$dropicon-font-color-bg: rgb(30, 95, 235);
$search-input-bg:rgb(255, 255, 255);
$search-input:black;


$body-color:rgb(31, 31, 31);

